<div class="content">
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>{{ note.title }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image *ngIf="note.image" [src]="note.image">
    <mat-card-content>
      <p class="break-word">
        {{ note.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="toEditPage()" >EDIT</button>
      <button mat-button  (click)="onDelete()">DELETE</button>
    </mat-card-actions>
  </mat-card>
</div>